<header>
  <div class="container-fluid">
    <div class="row main-menu sticky" id="main_menu">
      <div class="col-sm-2 offset-sm-1">
        <a href="#" class="main-logo">
          <h1><img src="assets/logo.png" alt=""></h1>
        </a>
      </div>
      <div class="col-sm-7 offset-sm-1">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" >Lịch chiếu <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Cụm rạp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Tin tức</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Ứng dụng</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
